/* Reset de estilos padrão */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos globais */
html {
    font-size: 16px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #11061d;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    transition: top 0.3s ease;
    width: 100%;
    border-bottom: 1px solid #663399;
    top: 0;
}

header a {
    height: 30px;
}

nav {
    display: flex;
    align-items: center;
    gap: 3px;
}

nav a {
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 5px;
}

nav a:hover {
    color: #8a63d2;
}

/* Estilos das seções */
.card {
    background-color: #000000;
    color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #b139f785;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: #11061d;
}

/* Estilos do botão "Voltar ao topo" */
.top_bnt {
    position: fixed;
    height: 3rem;
    width: 4rem;
    bottom: 5%;
    right: 5%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}



/* Responsividade para dispositivos móveis */
@media screen and (max-width: 550px) {
    body {
        font-size: 13px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }

    nav a {
        font-size: 13px;
    }

    /* Ajusta o tamanho do botão PDF para dispositivos móveis */
    .pdf-btn {
        padding: 0.4rem 0.8rem;
    }

    /* Ajusta o espaçamento das seções para dispositivos móveis */
    .card {
        padding: 1.5rem;
        margin: 1.5rem;
    }

    /* Ajusta o tamanho do botão "Voltar ao topo" para dispositivos móveis */
    .top_bnt {
        height: 2.5rem;
        width: 3.5rem;
        bottom: 4%;
        right: 4%;
    }
}

