@media screen and (max-width: 850px) {

    /* Ajusta o espaçamento das seções para dispositivos móveis */
    .formacao div {
        flex: 0 1 calc(50% - 1rem); /* Tamanho para 2 colunas por linha */
        max-width: calc(50% - 1rem);
        font-size: x-small; /* Garante que não exceda a largura */
    }
}

@media screen and (max-width: 550px) {
    .hamburger {
        display: flex;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #11061d;
        position: absolute;
        width: 100%;
        top: 1.5rem;
        left: 0;
    }
    
    .nav-links a {
        padding: 1rem;
        text-align: center;
        color: white;
    }
    
    .nav-links.active {
        display: flex;
    }

    header nav {
        display:none;    
    }
}